.root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--mantine-color-dark-9); /* Black background */
    color: var(--mantine-color-gray-0); /* White text */
    overflow-y: auto;
  }
  
  .body {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: var(--mantine-color-dark-9); /* Black background */
    color: var(--mantine-color-gray-0); /* White text */
  }
  
  .content {
    flex: 1;
    padding: var(--mantine-spacing-lg);
    text-align: center;
  }
  